<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/sersolislogo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/politicadeprivacidade.css" />
    <title>Política de Privacidade</title>
  </head>
  <body>
<body>
    <header>
        <div class="logo"><a href="/"><img src="/images/sersolislogo.png" alt=""></a></div>
      <nav class="navbar">
        <ul>
          <li><a href="/equipe">Equipe</a></li>
          <li><a href="/sobre">Sobre Nós</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <div class="container">
            <h2>
                Política de Privacidade - Sersolis
            </h2>
            <p>A privacidade dos nossos clientes e visitantes é muito importante para nós. Por isso, a equipe Sersolis se compromete a proteger suas informações pessoais com total responsabilidade e transparência.</p>
            <h2>Coleta de informações pessoais</h2>
            <p>Ao contratar nossos serviços ou visitar nosso site, podemos coletar informações pessoais como nome, endereço de e-mail, informações de pagamento e outras informações relevantes para a prestação dos nossos serviços.
            </p>
            <h2>Uso de informações pessoais</h2>
            <p>As informações coletadas são utilizadas exclusivamente para prestar nossos serviços e manter contato com nossos clientes. Não compartilhamos informações pessoais com terceiros, exceto quando exigido por lei ou para cumprir as obrigações contratuais com nossos clientes.</p>
            <h2>Segurança das informações</h2>
            <p>Nós levamos a segurança das informações pessoais muito a sério e utilizamos medidas técnicas e organizacionais para proteger contra perda, uso indevido, acesso não autorizado, divulgação ou alteração.
            </p>
            <h2>Cookies</h2>
            <p>Nosso site utiliza cookies para melhorar a experiência do usuário. Os cookies são pequenos arquivos de texto que são armazenados no dispositivo do usuário e ajudam a identificar o navegador e as preferências do usuário.
            </p>
            <h2>Alterações na Política de Privacidade</h2>
            <p>Podemos atualizar esta Política de Privacidade de tempos em tempos. As alterações serão publicadas no nosso site e, se forem significativas, os clientes serão notificados por e-mail</p>
            <h2>Dúvidas</h2>
            <p>Se você tiver dúvidas sobre nossa Política de Privacidade ou sobre o uso de suas informações pessoais, entre em contato conosco através do nosso site..
            </p>
        </div>
    </main>

    <footer>
        <div class="footer-container">
          <div class="footer-grid">
            <div class="rules">
              <h3 class="main-text">Diretrizes</h3>
              <div class="link">
                <a href="/termosdeuso"><h5>Termos de Uso</h5></a>
                <a href="/politicadeprivacidade"><h5>Política de Privacidade</h5></a>
              </div>
            </div>
            <div class="contacts">
              <h3 class="main-text">Contatos</h3>
              <div class="link">
                <a href="https://discord.gg/QkpMt8Ksdy" target="_blank"><h5>Contratar Serviços</h5></a>
              </div>
            </div>
            <div class="reserved">
              <div class="reserved-text">
                <h3 class="main-text">Copyright &copy; Sersolis - Todos os Direitos Reservados</h3>
                <img src="../images/sersolislogo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>