<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/sersolislogo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/sobre.css" />
    <title>Sobre Nós</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/images/sersolislogo.png" alt="" /></a>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/equipe">Equipe</a></li>
          <li><a href="/sobre">Sobre Nós</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="headline">
          <h1>Sobre Nós</h1>
          <p>
            A nossa equipe tem pessoas especialistas em cada área do Discord.
            Com a nossa equipe você pode ter seu servidor profissional,
            gerenciar da forma que quiser. A nossa missão é ajudar você a
            alcançar seus objetivos de negócio com soluções criativas e
            eficientes. A nossa visão é ser reconhecida como um dos melhores
            serviços para Discord do Brasil. Os nossos valores são:
            comprometimento, qualidade, transparência e ética.
          </p>
        </div>
        <div class="about">
          <h2>Porquê decidimos criar a Sersolis</h2>
          <p>
            Nossa empresa foi criada com o objetivo de ajudar as pessoas que não
            sabem montar servidores discord. Nós nos dedicamos a manter
            qualidade e transparência e estamos comprometidos em fornecer o
            melhor serviço para nossos clientes. Nossa equipe de fundadores é
            composta por 8 pessoas e cada uma delas tem uma experência
            diferente. Trabalhamos juntos em outras empresas e projetos e
            percebemos que compartilhamos uma paixão por ajudar a construir uma
            comunidade dentro do discord e acreditamos que poderíamos fazer a
            diferença no mercado.
          </p>
          <h2>Cultura empresarial</h2>
          <p>
            Na nossa equipe, a cultura empresarial é baseada em valores sólidos
            e em uma ética de trabalho forte. Nós acreditamos na importância da
            integridade, respeito, trabalho em equipe e excelência em tudo o que
            fazemos. <br><br> Esses valores são incorporados em nossa filosofia geral e
            moldam a maneira como trabalhamos juntos e com nossos clientes.
            Temos um ambiente de trabalho inclusivo e colaborativo, onde a
            diversidade é valorizada e a comunicação aberta é incentivada. Isso
            nos permite desenvolver soluções criativas e inovadoras para nossos
            clientes e nos ajuda a crescer e evoluir como equipe. <br><br> Como parte de
            nossa cultura, buscamos constantemente aprimorar nossas habilidades
            e conhecimentos para fornecer o melhor serviço possível aos nossos
            clientes. Também nos esforçamos para ser uma equipe socialmente
            responsável, fazendo a nossa parte para causar um impacto positivo
            na comunidade.
          </p>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-grid">
          <div class="rules">
            <h3 class="main-text">Diretrizes</h3>
            <div class="link">
              <a href="/termosdeuso"><h5>Termos de Uso</h5></a>
              <a href="/politicadeprivacidade"><h5>Política de Privacidade</h5></a>
            </div>
          </div>
          <div class="contacts">
            <h3 class="main-text">Contatos</h3>
            <div class="link">
              <a href="https://discord.gg/QkpMt8Ksdy" target="_blank"
                ><h5>Contratar Serviços</h5></a
              >
            </div>
          </div>
          <div class="reserved">
            <div class="reserved-text">
              <h3 class="main-text">
                Copyright &copy; Sersolis - Todos os Direitos Reservados
              </h3>
              <img src="../images/sersolislogo.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
