<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/sersolislogo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/termosdeuso.css" />
    <title>Termos de Uso</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/images/sersolislogo.png" alt="" /></a>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/equipe">Equipe</a></li>
          <li><a href="/sobre">Sobre Nós</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <h1>Termos de Uso</h1>
        <p>
          O nosso serviço oferece banners, bots personalizados, criação de
          servidores discord. O nosso serviço pode incluir recursos,
          funcionalidades e conteúdo que são fornecidos pela nossa empresa ou
          por terceiros.
        </p>
        <h1>Aceitação dos Termos</h1>
        <p>
          Ao acessar ou utilizar o nosso serviço, você concorda em estar
          vinculado a estes termos. Se você não concorda com estes termos, não
          use nosso serviço.
        </p>
        <h1>Direitos de Propriedade Intelectual</h1>
        <p>
          Todo o conteúdo em nosso serviço, incluindo texto, gráficos,
          logotipos, ícones, imagens, clipes de áudio, downloads digitais e
          software, é de propriedade exclusiva nossa ou de nossos fornecedores e
          está protegido pelas leis de direitos autorais, marcas comerciais e
          outras leis de propriedade intelectual aplicáveis <br /><br />Você não
          pode reproduzir, distribuir, exibir publicamente, criar trabalhos
          derivados, descompilar, desmontar, fazer engenharia reversa, alterar
          ou de outra forma explorar qualquer conteúdo em nosso serviço, a menos
          que seja expressamente autorizado por nós.
        </p>
        <h1>Uso do Serviço</h1>
        <p>
          Você concorda em usar nosso serviço apenas para fins legais e em
          conformidade com estes termos. <br /><br />Você não pode usar nosso
          serviço de qualquer forma que possa danificar, desabilitar,
          sobrecarregar ou prejudicar nosso serviço. Você concorda em não tentar
          acessar nosso serviço por qualquer outro meio que não seja através da
          interface fornecida por nós.
        </p>
        <h1>Limitação de Responsabilidade</h1>
        <p>
          Em nenhuma circunstância seremos responsáveis por quaisquer danos
          diretos, indiretos, incidentais, especiais, consequentes ou punitivos
          decorrentes do uso ou incapacidade de usar nosso serviço.
        </p>
        <h1>Alterações nos Termos de Uso</h1>
        <p>
          Reservamos o direito de atualizar ou alterar estes termos de uso a
          qualquer momento, sem aviso prévio. É sua responsabilidade verificar
          estes termos periodicamente para verificar se há alterações. O uso
          continuado do serviço após a publicação de quaisquer alterações nos
          termos de uso constitui sua aceitação dessas alterações.
        </p>
        <h1>Rescisão</h1>
        <p>
          Podemos rescindir ou suspender sua conta e seu acesso ao serviço
          imediatamente, sem aviso prévio ou responsabilidade, por qualquer
          motivo, incluindo, sem limitação, se você violar estes termos de uso.
        </p>
        <h1>Lei Aplicável</h1>
        <p>
          Estes termos de uso serão regidos e interpretados de acordo com as
          leis do Brasil.
        </p>
        <h1>Contato</h1>
        <p>
          Se você tiver alguma dúvida sobre estes termos de uso, entre em
          contato <a href="https://discord.gg/QkpMt8Ksdy">aqui</a>. <br><br>Ao usar nosso serviço, você concorda com estes termos de
          uso. Obrigado por usar nosso serviço.
        </p>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-grid">
          <div class="rules">
            <h3 class="main-text">Diretrizes</h3>
            <div class="link">
              <a href="/termosdeuso"><h5>Termos de Uso</h5></a>
              <a href="/politicadeprivacidade"><h5>Política de Privacidade</h5></a>
            </div>
          </div>
          <div class="contacts">
            <h3 class="main-text">Contatos</h3>
            <div class="link">
              <a href="https://discord.gg/QkpMt8Ksdy" target="_blank"><h5>Contratar Serviços</h5></a>
            </div>
          </div>
          <div class="reserved">
            <div class="reserved-text">
              <h3 class="main-text">Copyright &copy; Sersolis - Todos os Direitos Reservados</h3>
              <img src="../images/sersolislogo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
